@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Metal&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #d6cdcd;
}

button {
    cursor: pointer;
}

/* Parte de estilização destinada apenas ao Header. */
#header {
    width: 100%;
    height: 100%;
}

#imagemLogo {
    width: 250px;
    height: auto;
    margin: 8px 60px;
    position: absolute;
    top: 0;
    left: 0%;
}

/* São estilizações para os botões que o usuário será capaz de interagir no header. */
#conteudoHeader {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    color: #d6cdcd;
}

.pHeaderHome {
    margin-right: 10vw;
    cursor: pointer;
    color: #7E0606;
}

/* "Botões" localizados no Header */
.pHeader {
    margin-right: 10vw;
    cursor: pointer;
}

/* Div da maior imagem do Header */
#divImagemFull-Size {
    width: 100%;
    height: 100%;

}

#imagemFull-Size {
    width: 100%;
    height: 110vh;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 20px 5px 1px rgba(0, 0, 0, 0.746);
    -webkit-box-shadow: 2px 20px 5px 1px rgba(0, 0, 0, 0.746);
    -moz-box-shadow: 20px 20px 5px 1px rgba(0, 0, 0, 0.746);
}

/* Div da Imagem que fica Localizada sobreposta a imagem maior do Header. */
#divLogoTransparente {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logoFundoTransparente {
    width: 440px;
    height: 340px;
}

#botaoHeader {
    width: 200px;
    height: 50px;
    background-color: #1a1919;
    color: #d6cdcd;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
}

/* Parte de estilização destinada apenas ao Main. */
#main {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    background-color: #d6cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cards-comida {
    width: 350px;
    height: 430px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    background-color: #500101;
}

.revelar {
    position: relative;
    transform: translateY(160px);
    opacity: 0;
    transition: 1s all ease;
}

.revelar.active {
    transform: translateY(0);
    opacity: 1;
}

.divImagemComida {
    width: 100%;
    height: 55%;
    align-items: flex-start;
}

.imagensComida {
    width: 100%;
    height: 210px;
    margin: 10px 0;
    border-radius: 20px;
}

.divTexto {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h3-cards {
    width: 100%;
    height: 15%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    color: #d6cdcd;
    font-size: 25px;
    font-family: metal, cursive;
    font-weight: lighter;
}

.p-cards {
    width: 70%;
    height: 55%;
    margin-top: 5px;
    color: #d6cdcd;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 17px;
    font-family: Indie Flower;

}

.divPreco {
    margin-top: 85px;
    height: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.divPreco div:first-child {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #7E0606;
    color: #fff;
    padding: 1px;
    width: 80px;
    height: 20px;
    border-radius: 4px;
    gap: 5px;
}

.divPreco div:first-child p:first-child {
    font-size: 10px;
}

.divPreco div:first-child p:last-child {
    font-size: 15px;
}

.divH1Recipes {
    text-align: center;
    width: 100%;
    height: 100px;
}

.divReceitasDiarias {
    width: 100%;
    height: 800px;
    margin-top: 50px;
    background-color: #500101;
    display: flex;
    justify-content: space-evenly;

    font-family: Metal;
    font-weight: l;
}

#divMooncake {
    width: 50%;
}

#divImagemMooncake {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#imagemMooncake {
    width: 550px;
    height: 300px;
}

#divTextoMooncake {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.h1Receitas {
    margin-top: 0;
    font-size: 35px;
    color: white;
}

.ingredientesH2 {
    color: white;
    font-size: 20px;
    margin-top: -20px;
}

.divUls {
    position: relative;
    left: 50px;
    width: 100%;
    display: flex;
    gap: 10%;
    margin-top: -20px;

}

.ulReceitas {
    color: white;
    text-align: justify;
    width: 30%;
    font-size: 13px;
}


#divMochi {
    width: 50%;
}

#divImagemMochi {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#imagemMochi {
    width: 550px;
    height: 300px;
}

#divTextoMochi {
    width: 92%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#voltarHome {
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    position: absolute;
    position: fixed;
    right: 2%;
    cursor: pointer;
    top: 85%;
}

.divAboutUs {
    width: 100%;
    height: 500px;
    background-color: #500101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.divImagemDonos {
    display: flex;
    gap: 140px;
}

.divTextoDonos {
    display: flex;
    gap: 370px;
}

.h3Donos {
    font-size: 20px;
    color: white;
    font-family: Metal;
    font-weight: lighter;
}

.imagemDonos {
    width: 340px;
    height: 340px;
}

.divPosAboutUs {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

#divConteudoAboutUs {
    width: 70%;
    height: 450px;
    border-radius: 15px;
    margin-top: 60px;
    background-color: #1a0505;
    display: flex;

}

.divImagemLogoAboutUs {
    margin: 0 20px;
}

#imagemLogoAboutUs {
    width: 250px;
    height: 180px;
}

#divTextoAboutUs {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

#textoAboutUs {
    text-align: justify;
    color: #fff;
    font-family: Indie Flower;
    font-size: 25px;
}

.divPreFooter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.h1Footer {
    margin: 0;
    color: #fff;
    font-family: Metal;
    font-weight: lighter;
}

/* São estilizações para os botões que o usuário será capaz de interagir no Footer. */
#conteudoFooter {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: black;
    color: #d6cdcd;
}

/* "Botões" localizados no Header */
.pFooter:hover {
    transition: 0.4s;
    color: #7E0606;
    cursor: pointer;
}

#footer {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1a1919;
}

.divImagemLogoFooter {
    margin-top: 20px;
    width: 30%;
}

#imagemLogoFooter {
    width: 250px;
    height: 180px;
}

#divMeioFooter {
    width: 30%;
    margin-top: 20px;
}

#pMeioFooter {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: Metal;
}

#pProducedFooter {
    text-align: center;
    color: #fff;
    font-family: Metal;
}

#divRedesSociais{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.imagemRedesSociais{
    width: 30px;
    height: 30px;
}

#divImagensDireitaFooter{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.imagensPaises{
    width: 100px;
    height: 60px;
}

.pSeta {
    font-size: xx-large;
    padding-left: 5px;
}